#home{
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 50px;
}

#home-intro p:nth-child(1){
	font-size: 24px;
}

#home-intro p:nth-child(2){
	font-size: 50px;
	padding: 0;
}

#home-intro p:nth-child(3){
	font-size: 20px;
	text-align: justify;
}

#home-intro p:nth-child(4){
	font-size: 13px;
	text-align: justify;
}